html {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.2;
    color: black;
    background: white;
}

a {
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    /* color: rgb(64, 103, 141);  */
    color: blue;
    color: #0645AD;
}

a:visited {
    color: #0B0080;
}

a:hover {
    border-bottom: 1px solid;
}

/* img {
    float: right;
    width: auto;
    max-height: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
} */

*::selection {
    background: rgba(248, 228, 54, 1);
    color: black;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}


ul {
    padding-left: 1.5em;
}

/* li {
    margin: 0.5em 0em 0.5em 0.5em;
} */