body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.3;
    width: 700px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 30px;
}

a:link,
:visited {
    color: #40678E;
    text-decoration: none;
}