body {
    font-family: 'Georgia', serif;
    font-size: 20px;
    background-color: #fff;
    color: #333;
    margin: 2em auto;
    max-width: 720px;
    padding: 0 1em;
    line-height: 1.6;
}

*::selection {
    background: rgba(248, 228, 54, 1);
}

a:link,
:visited {
    text-decoration: none;
    color: rgb(0, 79, 176);
}

a:hover {
    text-decoration: underline;
}

dl {
    padding-left: 1rem;
}

dt {
    display: list-item;
}

hr {
    border: solid 1px #ccc;
    margin: 1rem 0;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 400;
}
h2 {
    font-size: 1.2em;
    font-weight: 400;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

summary {
    color: rgba(175, 62, 1, 0.656);
}

blockquote {
    border-left: 6px solid #eee;
    margin: 1.5em 0;
    padding: 0.5em 1em;
    color: #666;
    background-color: #f9f9f9;
    font-style: italic;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

thead tr {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

th {
    letter-spacing: 0.05em;
}

td {
    color: #555;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
.box {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.box h3 {
    margin: 0;
}
.box ul {
    list-style: none;
    padding: 0;
}
.box ul li {
    margin: 5px 0;
}