body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    background-color: #e5d8ce;
    color: #333;
    margin: 2em auto;
    max-width: 650px;
    padding: 0 1.25em;
    line-height: 1.7;
    word-wrap: break-word;
}

*::selection {
    background: rgba(248, 228, 54, 1);
}

a:link,
a:visited {
    /* color: rgb(0, 79, 176); */
    color: #333;
    /* text-decoration: none; */
    transition: all 0.2s ease;
}

h1 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

dl {
    padding-left: 1rem;
}

dt {
    display: list-item;
    margin-bottom: 0.25em;
}

hr {
    border: none;
    border-top: 1px solid #bbb;
    margin: 2em 0;
}

summary {
    color: rgba(175, 62, 1, 0.7);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
    border: 1px solid #444;
    font-size: 0.95em;
}

th,
td {
    border: 1px solid #444;
    padding: 0.75em 1em;
    vertical-align: top;
}

th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
    background-color: #e0d3c6;
}

blockquote {
    font-style: italic;
    color: #333;
    background-color: #eee2d8;
    border-left: 3px solid #bfaea0;
    margin: 2em auto;
    padding: 0.75em 1.25em;
    max-width: 600px;
    border-radius: 4px;
}