@font-face {
    font-family: 'MyFont';
    src: url('./Open_Sans/static/OpenSans-Regular.ttf');
}

body {
    font-family: 'MyFont', sans-serif;
    /* Use the custom font */
}

body {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 720px;
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: block;
}

a:link,
:visited {
    text-decoration: none;
    color: rgb(0, 64, 143);
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    list-style-type: disc;
    display: list-item;
    margin-left: 20px;
}